{{#partial "content"}}
    <div class="col-3">
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-dark list-group-item-action" aria-current="true">
                    All Departments
                </a>
                {{#each myDepartments}}
                    <a href="#" class="list-group-item list-group-item-dark list-group-item-action">{{name}}</a>
                {{/each}}
            </div>
        </div>
        
        {{#if myStaff}}
        <div class="col-9">
          <h4>Staff Form</h4>
          <div class="card bg-dark text-white mx-auto p-3">
            <form method="Post" action="/staff/update">
                <div class="mb-3">
                    <label for="id"  class="form-label">id</label>
                    <input type="text" id="id" name="id" class="form-control" placeholder="id" value="{{myStaff.id}}">
                </div>
              <div class="mb-3">
                <label for="name"  class="form-label">Name</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Name" value="{{myStaff.name}}">
              </div>
              <div class="mb-3">
                <label for="role"  class="form-label">Role</label>
                <input type="text" id="role" name="role" class="form-control" placeholder="Role" value="{{myStaff.role}}">
              </div>
              <div class="mb-3">
                <label for="department" class="form-label">Department</label>
                <select name="department" class="form-control"  id="department">
                  <option value="">Select a department</option>
                    {{#each myDepartments}}
                        <option value ="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
              </div>
              <div class="mb-3">
                <label for="name"  class="form-label">Responsibility</label>
                <input id="name" name="name" class="form-control" placeholder="Responsibilities.." value="{{myStaff.responsibility}}"/>
              </div>
              <div class="mb-3 text-center">
                <input type="submit" class="btn btn-warning" value="Save">
              </div>
            </form>

          </div>
          
        </div>
        {{/if}}
    {{/partial}}
{{> layout.hbs}}
