{{#partial "content"}}
<div class="col-3">
<div class="list-group list-group-flush">
<a href="#" class="list-group-item list-group-item-dark list-group-item-action" aria-current="true">

All Departments
</a>
{{#each myDepartments}}
<a href="#" class="list-group-item list-group-item-dark list-group-item-action">{{name}}</a>
{{/each}}   
</div>
</div>


<div class="col-9">
  <h4>Department Name</h4>

    {{#if myStaff}}
  <table class="table ">

    <thead class="table-dark">
      <tr >
        <th>Name</th>
        <th>Role</th>
        <th>Responsibiity</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>

    {{#each myStaff}}
        <tr>
            <td>{{name}}</td>
            <td>{{role}}</td>
            <td>{{department}}</td>
            <td>
                <a class="btn btn-sm btn-warning"href="/edit_staff?id={{id}}">Edit</a>
                <a class="btn btn-sm btn-danger" href="/delete_staff?id={{id}}">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>

  </table>
{{/if}}




</div>
   {{/partial}}

{{> layout.hbs}} 
     
      
