{{#partial "content"}}
      <section class="container">
        <article>
            {{#if myStaff}}
          <fieldset class="bg-cloudy-blue p-3 rounded shadow-sm">
            <legend>Update Staff</legend>
            <form action="/staff/{{myStaff.id}}" method="post" >
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Name" value="{{myStaff.name}}">
              </div>
              <div class="mb-3">
                <label for="department" class="form-label">Department</label>
                <select name="role" id="role" class="form-control">
                    <option value="">Select Department</option>
                    {{#each myDepartments}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}
                  </select>
              </div>
              <div class="mb-3">
                <label for="role" class="form-label">Role</label>
                <input type="text" name="role" id="role" class="form-control" placeholder="Role" value="{{myStaff.role}}">
              </div>
              <div class="mb-3">
                <label for="responsibility" class="form-label">Responsibility</label>
                <input type="text" name="responsibility" id="responsibility" class="form-control" placeholder="Responsibility" value="{{myStaff.responsibility}}">
              </div>
              <div class="mb-3 text-center">
                <input type="submit" name="submit" id="responsibility" class="btn  btn-secondary" value="Save">
              </div>
  
            </form> 

          </fieldset>
            {{/if}}
        </article>
      </section>
{{/partial}}

{{> layout.hbs}}