{{#partial "content"}}

        <section class="container pt-3 row">
            <aside class="col-sm-12 col-lg-3">
                <div class="list-group list-group-flush">
                    <a href="/" class="list-group-item list-group-item-action">All staff</a>
                    {{#each myDepartments}}
                    <a href="/department/{{id}}/staff" class="list-group-item list-group-item-action">{{name}}</a>
                    {{/each}}
                </div>

            </aside>
            <article class="col-sm-12 col-lg-9">
                {{#if myDepartment}}
                    <h5>{{myDepartment.name}} Staff</h5>
                {{else}}
                <h5>All Staff</h5>
                {{/if}}
                {{#if myStaff}}
                <table class="table table-borderless  mx-auto table-sm text-small">
                    <thead class="table-success">
                    <tr><th>Name</th><th>Role</th><th>Responsibility</th><th class="text-center">Actions</th></tr>
                    </thead>
                    <tbody>
                    {{#each myStaff}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{role}}</td>
                        <td>{{responsibility}}</td>
                        <td class="text-center">
                            <a href="/staff/{{id}}/edit" class="btn btn-sm btn-warning">Edit</a>
                            <a href="/staff/{{id}}/delete" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
                {{/if}}
            </article>
        </section>

{{/partial}}

{{> layout.hbs}}